<article class="container-article">
  <div class="container">
    <div class="row bg-lightblue">
      <div class="columns small-30">
        <div class="video-container">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/I9y9fCZGHk4" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="content-container">
        <div class="columns small-30 large-10 large-push-20">
          <div class="artist-info">
            <strong>Klinkt als:</strong>
            <p>Led Zeppelin, Cream, Janis Joplin, Fleetwood Mac</p>
            <p></p>
            <!-- <strong>Groot Podium</strong>
            <p>13.00 - 15.00</p> -->
            <p></p>
            <ul>
              <li><a href="https://www.facebook.com/BluesPills/">Facebook</a></li>
              <li><a href="www.bluespills.eu">Official website</a></li>
            </ul>
          </div>
          <div class="spotify-container">
            <iframe src="https://embed.spotify.com/?uri=spotify%3Aartist%3A2lmQ4CUnjmLIIfnwZdRmMY" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>
          </div>
        </div>
        <div class="columns small-30 large-20 large-pull-10">
          <div class="content">
            <p>Ze komen uit Zweden, ze zijn dit jaar headliner van ons jaarlijkse Tuinfeest,
               maken pakkende psychedelische bluesrock en hebben met beeldschone frontvrouw
               Elin Larsson een blikvanger van jewelste: Blues Pills!
             </p>
             <p>Blues Pills wordt sterk beïnvloed door bands al Led Zeppelin, Cream, Janis Joplin
               en Fleetwood Mac. Duidelijk hoorbaar op hun debuutalbum en het recent verschenen 'Lady In Gold'.
             </p>
            <p>Het duurde dan ook niet heel lang voordat de band na zijn oprichting in
            2011 ook buiten de eigen landsgrenzen populairder werd dan Köttbullar gehaktballetjes.
            Wat heet: anno 2016 is het viertal een gevestigde naam in de rockscene -meer specifiek bij liefhebbers
            van bluesy hardrock met flinke scheuten psychedelica. </p>

            <p>Blues Pills heeft inmiddels op alle grote festivals gestaan, verzorgden het voorprogramma
            van Deep Purple en staan nu gezellig bij ons in de 'achtertuin'! Komt dat zien!</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</article>