.container-article{
  padding:0px 30px;
  max-width:1024px;
  width:100%;
  margin-top:40px;
  @include breakpoint(large){
    margin-top:80px;
  }
  &.container-artist{
    margin:0 auto;
    margin-top:80px;
  }
  figure.guitar{
    background: url(../assets/svg/guitar-electric.svg);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    width: 300px;
    height: 750px;
    transform: rotate(10deg);
    right: 0;
    z-index: 2;
    top: 100px;
    display:none;
    @include breakpoint(large){
      display:block;
    }
  }
  .video-container{
    margin:30px;
    border:1px dashed $color-white;
    padding:10px;
    iframe{
      height:150px;
      width: 100%;
      @include breakpoint(large){
        height:380px;
      }
    }
  }
  .content-container{
    height:100%;
    display:block;
    overflow:hidden;
    margin-top:50px;
    margin-bottom:50px;
    .content{
      @include breakpoint(large){
        padding-right:80px;
      }
      strong, p, ul li{
        font-size: 22px;
        color: #000000;
        letter-spacing: 0.1px;
        line-height: 30px;
      }
      a{
        color:$color-green;
        text-decoration:underline;
        &:hover{
          text-decoration:none;
        }
      }
      iframe{
        width:100%;
        height:auto;
        @include breakpoint(large){
          height:315px;
        }
      }
    }
    .artist-info{
      border:1px dashed $color-blue;
      font-size: 22px;
      color: #000000;
      letter-spacing: 0;
      padding:20px 30px;
      strong{
        font-weight:$font-bold;
      }
      ul{
        margin:0px;
        margin-top:10px;
        list-style-type:none;
        a{
          color:#000;
        }
      }
    }
    .spotify-container{
      margin-top:20px;
      iframe{
        display:none;
      }
      .btn{
        display:block;
        width:100%;
        margin-top:30px;
        margin-bottom:30px;
      }
      @include breakpoint(large){
        .btn{
          display:none;
        }
        iframe{
          display:block;
        }
      }
      iframe{
        width:100%;
      }
    }
  }
}

.container-overview{
  .news-block{
    margin-bottom:20px;
  }
}

footer{
  padding:0 30px;
  padding-top: 70px;
  ul{
    list-style-type:none;
    margin:0px;
    padding:0px;
    &.address{
      margin-top:20px;
      li{
        font-size: 18px;
        color:black;
      }
    }
    &.social-media{
      margin-top:30px;
      li{
        display:inline-block;
        margin-right:5px;
        a{
          width:30px;
          height:30px;
          border-radius:100%;
        }
      }
    }
    &.sitemap{
      margin-bottom:30px;
      li{
        margin-bottom:5px;
        a{
          font-family: $font-amatic;
          font-weight:$font-bold;
          font-size: 25px;
          line-height: 38px;
          border-bottom:1px solid $color-green;
          color:black;
        }
      }
    }
  }
  .logo{
    height:70px;
  }
  .logo-sojs{
    height:65px;
    width:auto;
  }
  .upcoming{
    border-top:1px dashed $color-blue;
    border-right:1px dashed $color-blue;
    border-left:1px dashed $color-blue;
    height:345px;
    border-radius:2px;
    padding:0 30px;
    padding-top:40px;
    margin-top:50px;
    @include breakpoint(large){
      margin-top:0px;
    }
    &:before{
      content:' ';
      display:block;
      @include svgIcon('icon-elektra', $color-blue);
      margin:0 auto;
      width:36px;
      height:36px;
      margin-top:-18px;
      margin-bottom:18px;
    }
    .title{
      font-size: 25px;
      text-transform:uppercase;
      line-height: 28px;
      span{
        font-weight:$font-bold;
      }
    }
    ul{
      li{
        margin-bottom:10px;
        .date{
          border-radius:3px;
          background:$color-blue;
          color:white;
          font-size: 12px;
          padding:2px 5px;
        }
        .event{
          font-family:$font-family;
          text-transform:uppercase;
          font-size: 20px;
          line-height: 24px;
          color:black;
        }
      }
    }

  }
}

.gallery{
  .gallery__container{
    @include display(flex);
    @include flex-wrap(wrap);
    figure{
      width:100%;
      display: inline-block;
      vertical-align: top;
      margin: 0px;
      margin-bottom:15px;
      overflow: hidden;
      @include breakpoint(medium){
        width: 50%;
      }
      @include breakpoint(large){
        width: 33.33%;
      }
      @include breakpoint(xlarge){
        width: 25%;
      }
      .caption{
        display:none;
      }
      img{
        width: 100%;
        height: auto;
        padding-right:10px;
      }
    }
  }
}
section.header-artist{
  height:540px;
  width:100%;
  position:relative;
  z-index:1;
  margin-top: -85px;
  padding-top:calc(85px);
  background-size:cover;
  .parallax-window {
    position:absolute;
    top:0px;
    left:0px;
    min-height: 400px;
    background: transparent;
    background-size:cover;
    width:100%;
    height:100%;
  }
  &:before{
    height:540px;
    width:100%;
    background-color:$color-blue;
    opacity:0.85;
    display:block;
    position:absolute;
    content:' ';
    left:0px;
    top:0px;
    z-index: -1;
  }
  .header-container{
    height: 455px;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    align-items: center;
    .header-content{
      margin:0 auto;
      width:800px;
      .title{
        padding: 0px 35px;
        font-size:90px;
        line-height:90px;
        text-align:center;
        font-weight:$font-bold;
        font-family: $font-amatic;
        letter-spacing: 2.83px;
        color:$color-white;
        display:block;
        position:relative;
        min-height: 170px;
        display: block;
        margin-bottom:15px;
        @include breakpoint(large){
          margin-bottom:0px;
          padding: 0px;
          font-size: 170px;
          line-height: 150px;
        }
        &:before, &:after{
          content:'';
          display:block;
          position:absolute;
        }
        &:before{
          top: 30px;
          left: 0px;
          @include svgIcon('icon-gkey--white', $color-white);
          height:58px;
          width:30px;
        }
        &:after{
          bottom: 40px;
          right: 0px;
          @include svgIcon('icon-musicnote--white', $color-white);
          height:31px;
          width:37px;
        }
      }
      .genre, h5{
        font-family:$font-family;
        text-align:center;
        font-weight:$font-bold;
        font-size: 26px;
        color: #FFFFFF;
        letter-spacing: 0;
        text-transform:uppercase;
        margin-bottom:0px;
        @include breakpoint(large){
          margin-bottom:10px;
        }
      }
      .country{
        text-align:center;
        font-size: 18px;
        color: #FFFFFF;
        letter-spacing: 0;
      }
    }
  }

}
.parallax-window {
  display:none;
  min-height: 400px;
  background: transparent;
  @include breakpoint(large){
    display:block;
  }
}

section.header-home{
  margin-top: -85px;
  padding-top:calc(85px + 30px);
  background-size:cover;
  height:80vw;
  min-height:550px;
  width:100%;
  position:relative;
  z-index:1;
  background-attachment: scroll;
  background-position: top;
  -webkit-background-size: auto;
  -moz-background-size: auto;
  background-size: auto;
  @include breakpoint(medium){
    background-image:none!important;
  }
  .parallax-window {
    position:absolute;
    top:0px;
    left:0px;
    min-height: 400px;
    background: transparent;
    background-size:cover;
    width:100%;
    height:100%;
    background-attachment: scroll;
    background-position: top;
    -webkit-background-size: auto;
    -moz-background-size: auto;
    background-size: auto;
    display:none;
    @include breakpoint(large){
      display:block;
    }
  }
  &:after{
    content:'';
    @include svgIcon('swirl-mask', $color-white);
    background-size:cover;
    position:absolute;
    bottom:-10px;
    width:100%;
    height:40vw;
    right:0px;
  }
  &:before{
    height:80vw;
    min-height:550px;
    width:100%;
    background-color:$color-blue;
    opacity:0.85;
    display:block;
    position:absolute;
    content:' ';
    left:0px;
    top:0px;
    z-index: -1;
  }
  .header-content{
    @include breakpoint(large){
      margin-top:60px;
    }
    @include breakpoint(xxlarge){
      margin-top:90px;
    }
    p{
      font-family:$font-family;
      font-weight:$font-bold;
      font-size: 20px;
      color: $color-white;
      line-height: 23px;
      text-align:center;
      text-transform:uppercase;
      @include breakpoint(large){
        font-size: 30px;
      }
      @include breakpoint(xxlarge){
        font-size: 50px;
      }
      span{
        font-size:50px;
        @include breakpoint(xxlarge){
          font-size: 70px;
        }
      }
    }
    figure.header-logo{
      margin:0 auto;
      width:100%;
      max-width:600px;
      height:220px;
      @include breakpoint(xxlarge){
        max-width:900px;
      }
      img{
        object-fit:cover;
      }
    }
  }
}
section.header-details{
  @include breakpoint(large){
    margin-bottom:30vw;
    margin-top: -30vw;
    z-index: 10;
    position: relative;
  }
  .content{
    margin:0 40px;
    position:relative;
    height: 160px;
    margin-top: 40px;
    margin-bottom:20px;
    @include breakpoint(large){
      margin:0px;
      height:auto;
    }
    &:before, &:after{
      content:'';
      display:block;
      position:absolute;
    }
    &:before{
      top: -30px;
      left: -40px;
      @include svgIcon('icon-gkey', $color-blue);
      height:58px;
      width:30px;
      @include breakpoint(large){
        top: -40px;
        left: -40px;
      }
    }
    &:after{
      bottom: 70px;
      right: -30px;
      @include svgIcon('icon-musicnote', $color-blue);
      height:31px;
      width:37px;
      @include breakpoint(large){
        bottom: 60px;
        right: 40px;
      }
    }
    p, h2{
      max-width:300px;
      font-family:$font-family;
      font-weight:$font-bold;
      font-size: 26px;
      letter-spacing: 0.43px;
      line-height: 28px;
      text-transform:uppercase;
      color:$color-blue;
    }
  }
  .btn-elektra{
    position:absolute;
    left:50%;
    margin-left:-39px;
    height:78px;
    width:78px;
  }
}

section.highlighted-news{
  background-color:$color-lightblue;
  width:100%;
  padding-top:30px;
  padding-bottom:30px;
  .news-block{
    border:1px dashed white;
    padding:5px;
  }
  .btn-more{
    background-image:url('../assets/svg/btn-arrowmask--green.svg');
  }
}

.news-block{
  border:1px dashed $color-lightblue;
  border-radius:2px;
  height:310px;
  display:block;
  width:100%;
  margin-bottom:20px;
  @include breakpoint(large){
    margin-bottom:0px;
  }
  .news-details{
    height:100%;
    width:100%;
    display:block;
    color:black;
    background-color:$color-white;
    padding:20px;
    position: relative;
    figure{
      margin-top: -20px;
      margin-left: -20px;
      width: calc(100% + 40px);
      height:150px;
      display:block;
      img{
        object-fit:cover;
        width:100%;
        height:100%;
      }
    }
    .title{
      font-family: $font-amatic;
      font-weight:$font-bold;
      font-size: 35px;
      line-height: 40px;
    }
    .excerpt{
      font-family: $font-family;
      font-size: 18px;
      line-height: 25px;
    }
    .btn{
      position: absolute;
      right: 20px;
      bottom: 20px;
    }

  }
}

section.lineup{
  position:relative;
  margin-bottom:50px;
  &.lineup--home{

  }
  figure.guitar{
    height: 300px;
    top: -500px;
    background: url(../assets/svg/guitar-electric.svg);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    width: 130px;
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg);
    left: -40px;
    z-index: 2;
    @include breakpoint(large){
      height: 750px;
      width: 300px;
      top: calc(-750px - 40px);
    }
  }
  .artist-block{
    position:relative;
    z-index:1;
    display:block;
    height:240px;
    width:100%;
    padding:20px;
    border-radius:2px;
    margin-bottom:15px;
    overflow:hidden;
    &:hover{
      figure{
        transform:scale(1.2);
        -webkit-transform: scale(1.2);
      }
    }
    figure{
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -o-transform: scale(1);
      transform: scale(1);
      -webkit-transition: -webkit-transform 0.5s;
      -moz-transition: -moz-transform 0.5s;
      -o-transition: -o-transform 0.5s;
      transition: transform 0.5s;
      position: absolute;
      top: -15px;
      left: -40px;
      width: 100%;
      height: 100%;
      z-index: -2;
      display: block;
      background-size:cover;
      &:before{
        background-color:$color-blue;
        opacity:0.85;
        content:'';
        display:block;
        height:100%;
        width:100%;
        position:absolute;
        top:0px;
        left:0px;
        z-index:-1;
        border-radius:2px;
      }
    }

    .artist-details{
      background-color:transparent;
      border-radius:2px;
      border:1px dashed $color-white;
      color:$color-white;
      text-align:center;
      height:100%;
      display: -ms-flexbox;
    	display: -webkit-flex;
    	display: flex;
    	-ms-flex-align: center;
    	-webkit-align-items: center;
    	-webkit-box-align: center;
    	align-items: center;

      .artist{
        width: 100%;
        .name{
          display:block;
          font-family: $font-amatic;
          font-weight:$font-bold;
          font-size: 50px;
          min-height:45px;
          margin-bottom: 10px;
          line-height: 45px;
          position:relative;
          span{
            position:absolute;
            font-family: $font-family;
            font-weight:$font-bold;
            font-size: 15px;
            text-transform:uppercase;
            bottom: -15px;
            margin-left:5px;
          }
        }
      }
      .genre{
        display:block;
        font-family: $font-family;
        font-weight:$font-bold;
        font-size: 15px;
      }
    }

  }
  .btn-hollow{
    float:right;
    margin-top:20px;
  }
}




section.playlist{
  height:320px;
  background-color:$color-green;
  color:$color-white;
  padding-top:30px;
  padding-bottom: 30px;
  position:relative;
  z-index:1;
  figure{
    position:absolute;
    z-index:-1;
    top:0;
    left:0;
    margin:0px;
    width:100%;
    height:100%;
    background-image:url('../assets/images/playlist.jpg');
    background-size: 130%;
    background-position:right;
    background-repeat: no-repeat;
    opacity:0.4;
    @include breakpoint(large){
      background-size: cover;
      opacity:1;
      position:relative;
      margin-top: -30px;
      float:right;
      width:400px;
      height:320px;
    }
  }
  .title{
    color:$color-white;
    font-family: $font-amatic;
    font-weight:$font-bold;
    font-size: 50px;
    letter-spacing: 0.3px;
    line-height: 50px;
  }
  .subtitle{
    font-family:$font-family;
    font-size: 24px;
  }
}

.tuinfeest-slider{
  margin-bottom:50px;
  button.slick-arrow{
    display:none;
     &.slick-prev{

     }
     &.slick-back{

     }
  }
  .slick-slide {
    position:relative;
    .poster-container{
      transition:all 0.2s;
      transform:scale(0.8);
    }
    &.slick-active:first-of-type(){
      border:1px solid red;
      .poster-container {
        right:-200px;
      }
    }
    &.slick-active:last-of-type(){
      border:1px solid red;
      .poster-container {
        left:-200px;
      }
    }
    &.slick-current.slick-active.slick-center{
      z-index:1;
      .poster-container{
        transform:scale(1);
      }
    }

  }
  .poster-container{
    margin: 0 auto;
    width: calc(100% - 50px);
    height: 350px;
    padding:20px;
    border:1px dashed $color-blue;
    border-radius:2px;
    background-color:#fff;
    text-align:center;
    @include breakpoint(large){
      width:405px;
      height:555px;
    }
    img.poster{
      margin:0 auto;
      width:100%;
      height:100%;
      object-fit:contain;
    }
  }
}
.section-styleguide{
  padding:30px;
  background:lightgrey;
  position: relative;
  z-index: 1;
  section{
    margin-bottom:20px;
  }
}

section.top-navigation{
  position:relative;
  z-index:10;
  &.dark{
    background-color:$color-blue;
    height: 80px;
    @include breakpoint(large){
      height:111px;
    }
  }
  .btn-menu{
    float:right;
    position:relative;
    z-index:15;
    @include breakpoint(large){
      display:none;
    }
  }
  h1{
    font-size: 40px;
    text-decoration: none;
    margin: 0;
    position: relative;
    opacity: 1;
    float:left;
    margin-right:10px;
    margin-top:20px;
    a{
      color: #fff;
      text-decoration: none;
      display: block;
      width:80px;
      height:65px;
      background: url('../assets/images/logo-white.png') no-repeat left top;
      background-size: 100%;
      text-indent: -999em;
      @include breakpoint(large){
        width:125px;
      }
    }
  }
  // .logo{
  //   width:80px;
  //   height:auto;
  //   float:left;
  //   margin-right:10px;
  //   margin-top:20px;
  //   @include breakpoint(large){
  //     width:125px;
  //   }
  // }
  .details{
    float:left;
    font-family:$font-family;
    font-weight:$font-bold;
    font-size: 14px;
    color: $color-white;
    letter-spacing: 0.23px;
    line-height: 15px;
    text-transform:uppercase;
    width: 140px;
    margin-top:23px;
    display:none;
    @include breakpoint(large){
      display:block;
      margin-top:23px;
      margin-left:5px;
    }
  }
  nav{
    transition:all 0.2s;
    position:fixed;
    z-index:10;
    height: 100vh;
    width:100vw;
    background: $color-green;
    top:0px;
    left: 100vw;
    float:right;
    &.open{
      left:0px;
    }
    @include breakpoint(large){
      left:auto;
      width:auto;
      margin-top: 30px;
      position:relative;
      background:transparent;
      height:auto;
    }
      ul{
        list-style-type:none;
        @include flex();
        flex-flow: row wrap;
        justify-content: space-between;
        height: calc(100% - 200px);
        margin-top: 50px;
        @include breakpoint(large){
          height:auto;
          display:block;
          margin:0px;
        }
        li{
          display:block;
          margin-bottom:20px;
          width: 100%;
          margin: 0;
          padding: 0;
          position: relative;
          @include breakpoint(large){
            display:inline-block;
            margin-right:30px;
            margin-bottom:0px;
            width:auto;
            &:last-of-type{
              margin-right:0px;
            }
          }
          a{
            text-transform:uppercase;
            font-family: $font-family;
            font-weight:$font-bold;
            font-size: 25px;
            color: $color-white;
            line-height: 23px;
            &:hover{
              border-bottom: 2px solid $color-white;
            }
          }
        }
      }
    }
}
