<div class="tuinfeest-slider center">
<div><div class="poster-container"><img src="assets/images/tuinfeest-2016.jpg" class="poster"></div></div>
<div><div class="poster-container"><img src="assets/images/tuinfeest-2015.jpg" class="poster"></div></div>
<div><div class="poster-container"><img src="assets/images/tuinfeest-2014.jpg" class="poster"></div></div>
<div><div class="poster-container"><img src="assets/images/tuinfeest-2013.jpg" class="poster"></div></div>
<div><div class="poster-container"><img src="assets/images/tuinfeest-2012.jpg" class="poster"></div></div>
<div><div class="poster-container"><img src="assets/images/tuinfeest-2011.jpg" class="poster"></div></div>
</div>