<article class="container-article">
  <div class="container">
    <div class="row">
      <div class="columns small-30 large-20">
        <p class="header-title">@@titel</p>
      </div>
    </div>
    <div class="row">
      <div class="content-container">
        <div class="columns small-30 large-20">
          <div class="content">
            @@page
          </div>
        </div>
        <div class="columns small-30 large-10">
          <figure class="guitar"></figure>
        </div>
      </div>
    </div>
  </div>
</article>