<div class="row">
  <div class="columns small-30">
    <section class="section-styleguide">
      <h1 class="header-title-1">Styleguide Rotterdam Food Cluster</h1>
      <section class="section-buttons">
        <h2 class="header-title-2">Buttons</h2>
        <a href="#" class="btn btn-cta">bekijk het project<i class="icon icon-arrowmask"></i></a>
        <br>
        <a href="#" class="btn btn-primary"><i class="icon icon-arrowmask"></i>bekijk project</a>
        <br>
        <a href="#" class="btn btn-secondary"><i class="icon icon-arrowmask"></i>tip van de redactie</a>
        <br>
        <a href="#" class="btn btn-secondary btn--gray"><i class="icon icon-arrowmask icon-arrowmask--left"></i>Back to team</a>
        <br>
        <a href="#" class="btn btn-tertiary"></a>
        <br>
        <a href="#" class="btn btn-prev"><i class="icon icon-prev"></i>back</a>
        <br>
        <a href="#" class="btn btn-prev"><i class="icon icon-arrow"></i></a>
        <br>
        <a href="#" class="btn btn-next"><i class="icon icon-prev"></i></a>
        <br>
        <a href="#" class="btn btn-prev btn-prev--white"><i class="icon icon-arrow"></i></a>
        <br>
        <a href="#" class="btn btn-next btn-next--white"><i class="icon icon-prev"></i></a>
        <br>

        <a href="#" class="btn btn-cta btn--blue btn-share"><i class="icon icon-facebook"></i>deel dit bericht op Facebook</a>
        <br>
        <a href="#" class="btn btn-cta btn--blue btn-share"><i class="icon icon-linkedin"></i>deel dit bericht op Linkedin</a>
        <br>
        <a href="#" class="btn btn-cta btn--blue btn-share"><i class="icon icon-twitter"></i>deel dit bericht op Twitter</a>
        <br>
        <a href="#" class="btn btn-cta btn--blue btn-share"><i class="icon icon-instagram"></i>deel dit bericht op Instagram</a>
        <br>
        <a href="#" class="btn btn-cta btn-download">Food for the Future <span>(download 16mb)</span><i class="icon icon-down"></i></a>
        <br>

        <!-- <h3>Hover effects</h3>
        <a href="#" class="btn btn-cta animation-1">bekijk het project<i class="icon icon-arrowmask"></i></a>
        <br>
        <a href="#" class="btn btn-cta animation-2">bekijk het project<i class="icon icon-arrowmask"></i></a> -->

      </section>
      <section class="section-textstyles">
        <h2 class="header-title-2">Text Styles</h2>
        <h1 class="header-title-1">H1 Main Project Title</h1>
        <h2 class="header-title-2">H2 Main Project sub text</h2>
        <h3 class="header-title-3">H3 Actief Thema </h3>
        <h4 class="header-title-4">H4 Project Titles</h4>
        <h5 class="header-title-5">H5 Menu items</h5>
        <a href="#"><h5 class="header-title-5">H5 Menu items</h5></a>

        <h6 class="header-title-6">H6 Thema titels</h6>
        <a href="#"><h6 class="header-title-6">H6 Thema titels</h6></a>
        <br><br>
        <p class="text-underlined">Alle projecten</p>
        <br>
        <p class="author">Door: Sonja 5 maart, 2017</p>
        <span class="title">Body text titels</span>
        <p>Body text contact, Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolormagna aliqua. Ut enim ad minim veniam, quis nostrud </p>
        <p class="highlighted-text">This is highlighted text</p>

      </section>
    </section>
  </div>
</div>
