<section class="container-overview">
  <div class="container">
    <div class="row">
      <div class="columns small-30 large-10">
        <p class="header-title">Nieuws</p>
      </div>
    </div>
    <div class="row">
        <div class="columns small-30 large-10">
          <div class="news-block">
            <div class="news-details">
              <p class="title">HARK bevestigd voor Tuinfeest</p>
              <p class="excerpt">Ook de zware gitaren mogen dit jaar natuurlijk niet ontbreken!
                Vers bevestigd: <b>Hark</b>(UK). Voor liefhebbers van Baroness, Mastodon, Red Fang en consorten!
              </p>
              <a href="nieuwsdetail-hark.html" class="btn btn-more">lees meer<i class="icon icon-arrow"></i></a>
            </div>
          </div>
        </div>
        <div class="columns small-30 large-10">
          <div class="news-block">
            <div class="news-details">
              <p class="title">Eerste artiesten bekend</p>
              <p class="excerpt">We kunnen de eerste namen voor Tuinfeest 2017 bekend maken.
                <b>Blues Pills</b> (SWE) en <b>The Dawn Brothers</b> (Nl) spelen dit jaar in onze Electric Garden in Sliedrecht.
              </p>
              <a href="nieuwsdetail-nieuweartiesten.html" class="btn btn-more">lees meer<i class="icon icon-arrow"></i></a>
            </div>
          </div>
        </div>
        <div class="columns small-30 large-10">
          <div class="news-block">
            <div class="news-details">
              <figure><img src="assets/images/vrijwilliger.jpg"></figure>
              <p class="title">Geef je op als vrijwilliger</p>
              <a href="nieuwsdetail-vrijwilligerworden.html" class="btn btn-more">lees meer<i class="icon icon-arrow"></i></a>
            </div>
          </div>
        </div>
        <div class="columns small-30 large-10">
          <div class="news-block">
            <div class="news-details">
              <p class="title">AFTER MOVIE  TUINFEEST ‘16</p>
              <p class="excerpt">
                Wil je de belevingen van Tuinfeest van 2016 terug beleven? Bekijk dan onze after movie.
              </p>
              <a href="nieuwsdetail-aftermovie.html" class="btn btn-more">lees meer<i class="icon icon-arrow"></i></a>
            </div>
          </div>
        </div>
      </div>
    <!-- <div class="row">
          <div class="columns small-30 large-10">
            <div class="news-block">
              <div class="news-details">
                <p class="title">Eerste artiesten bekend</p>
                <p class="excerpt">We kunnen de eerste namen voor Tuinfeest 2016 bekend maken.
                  <b>GOAT</b> (SWE), <b>Elder</b> (US) en <b>Jody Bernal</b> spelen dit jaar op ons podium in Sliedrecht.
                </p>
                <a href="#" class="btn btn-more">lees meer<i class="icon icon-arrow"></i></a>
              </div>
            </div>
          </div>
          <div class="columns small-30 large-10">
            <div class="news-block">
              <div class="news-details">
                <figure><img src="assets/images/vrijwilliger.jpg"></figure>
                <p class="title">Geef je op als vrijwilliger</p>
                <a href="#" class="btn btn-more">lees meer<i class="icon icon-arrow"></i></a>
              </div>
            </div>
          </div>
          <div class="columns small-30 large-10">
            <div class="news-block">
              <div class="news-details">
                <p class="title">AFTER MOVIE  TUINFEEST ‘16</p>
                <p class="excerpt">
                  Wil je de belevingen van Tuinfeest van 2016 terug beleven? Bekijk dan onze after movie.
                </p>
                <a href="#" class="btn btn-more">lees meer<i class="icon icon-arrow"></i></a>
              </div>
            </div>
          </div>
        </div> -->
  </div>
</section>