<section class="playlist">
  <div class="container">
    <div class="row">
      <div class="columns small-30 large-10">
        <a href="https://play.spotify.com/user/jcelektra/playlist/6oRhzJlUjeSIhRdTL3MeTf" target="_blank" class="title">BELUISTER DE<br> TUINFEEST 2017<br> SPOTIFY PLAYLIST</a>
        <p class="subtitle">Kom alvast in de stemming en luister naar de line up van 2017</p>
      </div>
      <a href="https://play.spotify.com/user/jcelektra/playlist/6oRhzJlUjeSIhRdTL3MeTf" target="_blank"><figure></figure></a>
    </div>
  </div>
</section>
