section.top-navigation{
  position:relative;
  z-index:10;
  width:100%;
  height:105px;
  &.dark{
    background-color:$color-secondary;
    height: 80px;
    @include breakpoint(large){
      height:111px;
    }
  }
  .top-navigation__inner{
    position: absolute;
    top:0px;
    left:0px;
    padding: 10px 20px;
    width:100%;
  }
  .btn-menu{
    float:right;
    position:relative;
    z-index:15;
    @include breakpoint(large){
      display:none;
    }
  }
  h1{
    font-size: 40px;
    text-decoration: none;
    margin: 0;
    position: relative;
    opacity: 1;
    float:left;
    margin-right:10px;
    margin-top:20px;
    a{
      color: #fff;
      text-decoration: none;
      display: block;
      width:80px;
      height:65px;
      background: url('../assets/images/logo-white.png') no-repeat left top;
      background-size: 100%;
      text-indent: -999em;
      @include breakpoint(large){
        width:125px;
      }
    }
  }
  .logo {
    width: 80px;
    height: auto;
    float: left;
    margin-right: 10px;
    margin-top: 20px;
  }
  // .logo{
  //   width:80px;
  //   height:auto;
  //   float:left;
  //   margin-right:10px;
  //   margin-top:20px;
  //   @include breakpoint(large){
  //     width:125px;
  //   }
  // }
  .details{
    float:left;
    font-family:$font-family;
    font-weight:$font-bold;
    font-size: 14px;
    color: $color-white;
    letter-spacing: 0.23px;
    line-height: 15px;
    text-transform:uppercase;
    width: 140px;
    margin-top:23px;
    display:none;
    @include breakpoint(large){
      display:block;
      margin-top:23px;
      margin-left:5px;
    }
  }
  nav{
    transition:all 0.2s;
    position:fixed;
    z-index:10;
    height: 100vh;
    width:100vw;
    background: $color-primary;
    top:0px;
    left: 100vw;
    float:right;
    &.open{
      left:0px;
    }
    @include breakpoint(large){
      left:auto;
      width:auto;
      margin-top: 30px;
      position:relative;
      background:transparent;
      height:auto;
    }
      ul{
        list-style-type:none;
        @include flex();
        flex-flow: row wrap;
        justify-content: space-between;
        height: calc(100% - 200px);
        margin-top: 50px;
        @include breakpoint(large){
          height:auto;
          display:block;
          margin:0px;
        }
        li{
          display:block;
          margin-bottom:20px;
          width: 100%;
          margin: 0;
          padding: 0;
          position: relative;
          @include breakpoint(large){
            display:inline-block;
            margin-right:30px;
            margin-bottom:0px;
            width:auto;
            &:last-of-type{
              margin-right:0px;
            }
          }
          a{
            text-transform:uppercase;
            font-family: $font-family;
            font-weight:$font-bold;
            font-size: 25px;
            color: $color-white;
            line-height: 23px;
            &:hover{
              border-bottom: 2px solid $color-white;
            }
          }
        }
      }
    }
}
