<section class="header header-artist" data-value="@@bg-image" style="background-image:url('@@bg-image')">
  <div class="parallax-window @@parallax-class" data-parallax="scroll" data-image-src="@@bg-image"></div>
  <div class="container">
    <div class="row">
      <div class="columns small-30">
        <div class="header-container">
          <div class="header-content">
            <p class="title">@@artist</p>
            <p class="genre">@@genre</p>
            <p class="country">uit @@country</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
