<section class="lineup">
  <div class="container">
    <div class="row">
      <div class="columns small-30 large-10">
        <p class="header-title">Line-up</p>
      </div>
    </div>
    <div class="row">
      <div class="columns small-30 large-10">
        <a href="artist-bluespills.html" class="artist-block">
          <figure style="background-image:url('assets/images/thumb-bluespills.jpg')"></figure>
          <div class="artist-details">
            <div class="artist">
              <p class="name">Blues Pills<span>SWE</span></p>
              <p class="genre">Blues/Psychedelic Rock</p>
            </div>
          </div>
        </a>
      </div>
      <div class="columns small-30 large-10">
        <a href="artist-thedawnbrothers.html" class="artist-block">
          <figure style="background-image:url('assets/images/thumb-thedawnbrothers.jpg')"></figure>
          <div class="artist-details">
            <div class="artist">
              <p class="name">The Dawn<br>Brothers<span>NL</span></p>
              <p class="genre">Blues/60s Rock/Americana</p>
            </div>
          </div>
        </a>
      </div>
      <div class="columns small-30 large-10">
        <a href="artist-hark.html"  class="artist-block">
          <figure style="background-image:url('assets/images/thumb-hark.jpg')"></figure>
          <div class="artist-details">
            <div class="artist">
              <p class="name">HARK<span>UK</span></p>
              <p class="genre">Sludge/Stoner/Metal</p>
            </div>
          </div>
        </a>
      </div>

      <!-- <div class="columns small-30 large-10">
        <a class="artist-block">
          <figure style="background-image:url('assets/images/tuinfeest-bg.jpg')"></figure>
          <div class="artist-details">
            <div class="artist">
              <p class="name">To be<br>announced</p>
              <p class="genre">Keep posted</p>
            </div>
          </div>
        </a>
      </div>
      <div class="columns small-30 large-10">
        <a class="artist-block">
          <figure style="background-image:url('assets/images/tuinfeest-bg.jpg')"></figure>
          <div class="artist-details">
            <div class="artist">
              <p class="name">To be<br>announced</p>
              <p class="genre">Keep posted</p>
            </div>
          </div>
        </a>
      </div>
      <div class="columns small-30 large-10">
        <a class="artist-block">
          <figure style="background-image:url('assets/images/tuinfeest-bg.jpg')"></figure>
          <div class="artist-details">
            <div class="artist">
              <p class="name">To be<br>announced</p>
              <p class="genre">Keep posted</p>
            </div>
          </div>
        </a>
      </div> -->

    </div>
  </div>
</section>
