<footer>
  <div class="container">
    <div class="row">
      <div class="columns small-30 large-10">
        <img src="assets/images/logo-black.png" class="logo">
        <ul class="address">
          <li>Stationsweg 4<li>
          <li>3363 GA Sliedrecht<li>
        </ul>
        <ul class="social-media">
          <li><a href="https://nl-nl.facebook.com/elektra.poppodium/" target="_blank"><i class="icon icon-facebook"></i></a></li>
          <li><a href="http://www.instagram.com/poppodiumelektra" target="_blank"><i class="icon icon-instagram"></i></a></li>
          <li><a href="mailto:bestuur@sojs.nl" target="_blank"><i class="icon icon-mail"></i></a></li>
        </ul>
      </div>
      <div class="columns small-30 large-11">
        <nav>
          <ul class="sitemap">
            <li><a href="lineup.html" class="link-arrow"><i class="icon icon-arrow"></i>LINE UP</a><li>
            <li><a href="nieuws.html" class="link-arrow"><i class="icon icon-arrow"></i>NIEUWS</a><li>
            <li><a href="info.html" class="link-arrow"><i class="icon icon-arrow"></i>INFO</a><li>
            <li><a href="over-tuinfeest.html" class="link-arrow"><i class="icon icon-arrow"></i>OVER TUINFEEST</a><li>
          </ul>
        </nav>
        <p>ELEKTRA maakt deel uit</p>
        <a href="www.sojs.nl"><img src="assets/images/logo-sojs.png" class="logo-sojs"></a>
      </div>
      <div class="columns small-30 large-9">
        <div class="upcoming">
          <p class="title">Binnenkort in <span>Elektra</span></p>
          <ul>
            <li>
              <a href="http://www.elektra-sliedrecht.nl/event/sidewalk-sally-de-kat/" target="_blank">
                <span class="date">25 MRT 2017</span>
                <p class="event">Sidewalk Sally + De Kat</p>
              </a>
            </li>
            <li>
              <a href="https://www.facebook.com/events/256237414824255/" target="_blank">
                <span class="date">6 APR 2017</span>
                <p class="event">She Pleasures Herself (POR)</p>
              </a>
            </li>
            <li>
              <a href="https://www.facebook.com/events/398115563896778/" target="_blank">
                <span class="date">8 APR 2017</span>
                <p class="event">Korpse + Teethgrinder</p>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
