<section class="section__pageindex">
  <h2>@@prtitle</h2>
  <p>@@prcontent</p>
  <ul>
    <li><a href="home.html">Home</a></li>
    <li><a href="contact.html">Contact</a></li>
    <li><a href="over-tuinfeest.html">Over Tuinfeest</a></li>
    <li><a href="info.html">Info</a></li>
    <li><a href="lineup.html">Lineup</a></li>
    <li><a href="nieuws.html">Nieuws</a></li>
    <li>
      <ul>
        <li><a href="nieuwsdetail-nieuweartiesten.html">Nieuws: Eerste artiesten</a></li>
        <li><a href="nieuwsdetail-vrijwilligerworden.html">Nieuws: Geef je op als vrijwilliger</a></li>
        <li><a href="nieuwsdetail-aftermovie.html">Nieuws: Aftermovie 2016</a></li>
      </ul>
    </li>
    <li>
      <ul>
        <li><a href="artist-bluespills.html">Artiest: Blues Pills</a></li>
        <li><a href="artist-thedawnbrothers.html">Artiest: Dawn Brothers</a></li>
      </ul>
    </ul>
  </ul>
</section>
