@@include('modules/head/index.html')

  @@include('modules/top-navigation/index.html',  { "theme":"dark"} )
  @@include('modules/container-content/index.html', { "titel":"Info", "page": "<p>Op het festivalterrein is het niet  toegestaan om hier:</p><ul><li>glaswerk mee te nemen</li><li>zelf meegebrachte drank te nuttigen</li><li>te spelen voor geld, goederen of diensten</li></ul><p>Moedwillig toegebrachte schade wordt op de dader verhaald.Voorts kan bij overtreding van de gedrags- of huisregels een ontzeggingworden opgelegd voor kortere (tot 3 maanden) of langere (vanaf drie maanden tot levenslang) tijd.</p><p>Wij verwachten van u, wanneer nodig, om instructies van personeel en beveiliging op te volgen.Bij vermeende constatering van overtreding kunnen wij u vragen om upersoonlijke bezittingen te controleren. Mocht u hier niet aan mee willen werkenzullen wij u de toegang tot het evenemententerrein ontzeggen.</p>"})
  @@include('modules/playlist/index.html')
  @@include('modules/footer/index.html')

@@include('modules/foot/index.html')
