@@include('modules/head/index.html')

  @@include('modules/top-navigation/index.html',  { "theme":"dark"} )
  @@include('modules/container-content/index.html', { "titel":"Eerste artiesten Tuinfeest 2017 bekend", "page": "<p><b><a href='artist-bluespills.html'>Blues Pills</a></b> (SWE) en <b><a href='artist-thedawnbrothers.html'>The Dawn Brothers</a></b> (NL) spelen dit jaar in onze Electric Garden in Sliedrecht.</p><p> Blues Pills wordt sterk beïnvloed door bands al Led Zeppelin, Cream, Janis Joplin en Fleetwood Mac. Duidelijk hoorbaar op hun debuutalbum en het recent verschenen 'Lady In Gold'.</p><p>The Dawn Brothers worden geïnspireerd door grote klassieke songsmeders als The Band, CCR, The Rolling Stones en Otis Redding, brengen ze pure rootsliedjes met de dwingende cadans van een locomotief.</p>"})
  @@include('modules/playlist/index.html')
  @@include('modules/footer/index.html')

@@include('modules/foot/index.html')
