@@include('modules/head/index.html')

  @@include('modules/top-navigation/index.html',  { "theme":"dark"} )
  @@include('modules/container-content/index.html', { "titel":"After Movie Tuinfeest 2016", "page": "<p>Wil je de belevingen van Tuinfeest van 2016 terug beleven? Bekijk dan onze after movie.</p><iframe width='560' height='315' src='https://www.youtube.com/embed/HJ9xm4Fkfvk' frameborder='0' allowfullscreen></iframe>"})
  @@include('modules/playlist/index.html')
  @@include('modules/footer/index.html')

@@include('modules/foot/index.html')
