@@include('modules/head/index.html')

  @@include('modules/top-navigation/index.html',  { "theme":"dark"} )
  @@include('modules/container-content/index.html', { "titel":"HARK bevestigd voor Tuinfeest", "page": "<p>Ook de zware gitaren mogen dit jaar natuurlijk niet ontbreken! Vers bevestigd: <b><a href='artist-hark.html'>Hark</a></b>(UK)</p><p>Voor liefhebbers van Baroness, Mastodon, Red Fang en consorten! </p><p>Deze 4 heren uit Wales brengen een loodzware mix van sludge, stoner en metal. Met hun nieuwe langspeler 'Machinations' gaat de band deze zomer op toer door Europa, waar ze natuurlijk gezellig langskomen bij ons in de 'achtertuin'!</p><p>De band toerde eerder al met Clutch, Red Fang, Kylesa en Prong en stonden eerder al op grote festivals als Roadburn, Hellfest en Summer Breeze.</p><p>Komt dat zien!</p><iframe width='560' height='315' src='https://www.youtube.com/embed/NFa3KnTy1iw' frameborder='0' allowfullscreen></iframe>"})
  @@include('modules/playlist/index.html')
  @@include('modules/footer/index.html')

@@include('modules/foot/index.html')
