<section class="header header-home" style="background-image:url('assets/images/tuinfeest-bg.jpg')">
  <div class="parallax-window parallax-home" data-parallax="scroll" data-image-src="assets/images/tuinfeest-bg.jpg"></div>
  <div class="container">
    <div class="row">
      <div class="columns small-30">
        <div class="header-content">
          <figure class="header-logo">
            <img src="assets/images/tuinfeest-logo.png">
          </figure>
          <!-- <p class="clock"></p> -->
        </div>
      </div>
    </div>
  </div>
</section>
<section class="header-details">
  <div class="container">
    <div class="row">
    <div class="columns small-30 large-offset-10 large-10">
      <div class="content">
        <p>Tuinfeest is het jaarlijks festival van poppodium elektra</p>
        <a href="over-tuinfeest.html" class="btn btn-hollow">bekijk vorige jaren</a>
      </div>
    </div>
  </div>
  </div>
</section>
